{{- if .Values.features.argocd | default false }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-server
  labels:
    app: argocd-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: argocd-server
  template:
    metadata:
      labels:
        app: argocd-server
    spec:
      containers:
        - name: argocd-server
          image: quay.io/argoproj/argocd:latest
          args: ["argocd-server", "--insecure"]
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: argocd-server
spec:
  selector:
    app: argocd-server
  ports:
    - port: 8085
      targetPort: 8080
{{- end }}
